@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.nav_links a button {
  display: inline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  width: 4.2%;
  height: 4.2%;
  cursor: pointer;
}

.nav_links {
  list-style: none;
  background-color: #333439;
  padding: 7px;
}

.nav_links li {
  display: inline-block;
  padding: 0px 23px;
  background-color: inherit;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  background-color: inherit;
  color: whitesmoke;
}

.nav_links li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #203354;
}

.owtext {
  width: 700px;
  height: 100px;
  margin-left: 25%;

  top: 100px;
}

.video {
  z-index: -100;
  position: absolute;
  margin-top: 100px;
}

.rubrik {
  color: white;
}

.box {
  margin-right: 10%;
  margin-left: 10%;
  color: white;
}

.navbar2 {
  background-color: green;
  margin: 8px;
}

.navbar2 li {
  background-color: #333439;
  padding: 10px;
}

.navbar2 li a {
  transition: all 0.3s ease 0s;
  background-color: inherit;
  color: whitesmoke;
}

.contain {
  position: absolute;
  left: 0px;
}
